@import "./editorjs.css";
@import "./lexical.css";

html,
body {
  margin: 0;
  font-size: 16px;
  color: darkslategray;
}

* {
  box-sizing: border-box;
}

button {
  width: 4rem;
  height: 2rem;
  font-size: 1rem;
  border: none;
  border-radius: 4rem;
  color: white;
  background: darkslategray;
  cursor: pointer;
}

button:hover {
  background: slategray;
}

.wrapper {
  margin: 2rem;
}

.container {
  margin: 2rem 0;
  padding: 1rem 2rem;
  border: solid 0.15rem darkslategray;
  border-radius: 2rem;
}
